body{
    background: #090909;
    text-align: center;
}

#navbar {
  width: 100%;
  background-color: rgb(46, 46, 46);
  overflow: auto;
}

#navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #5468ff;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

#header {
    padding: 10% 2% 10%;
    text-align: center;
    color: white;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: 100%;   
    background-image: url("../images/aurora.jpg");
  }

h1 {
    font-size: 2em;
}

h1, h2, h3, p{
    color: rgb(241, 241, 241);
}

.take_test {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 12px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 36px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 0.8em;
  }
  
  .take_test:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .take_test:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .take_test:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  #footer {
    position: relative;
    padding: 1% 0% 1%;
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    text-align: center;
 }