/* ========================================================Index================================================== */
body{
  background: #080808;
  text-align: center;
}

.blue{
  color: #485efd;
}

hr {
  height:2px;
  border-width:0;
  color:#2c2c2c;
  background-color:#2c2c2c;
}

#navbar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  padding-bottom: 0px;
  background-color: #333333;
  overflow: auto;
  opacity: 1;
}

.logo-img{
  width: 20%;
  height: 20%;
}

#navbar a {
  float: right;
  padding: 13px 0px 13px;
  width: 120px;
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #000;
}

#navbar a-Active {
  cursor:pointer;
  float: left;
  background-color: #000;
  padding: 6px 0px 12px;
  width: 120px;
  color: #7181fc;
  font-size: 17px;
}

#navbar a-Active:hover {
  background-color: #3c4fe0;
  color: rgb(241, 241, 241);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

#header {
  padding: 10% 0% 6%;
  text-align: center;
  color: rgb(241, 241, 241);
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: left;
  background-image: url("../icons/header-bg.svg");
}

h1 {
  font-size: 1.8em;
}

h1, h2, h3, h4, h5, h6, p{
  color: rgb(241, 241, 241);
}

#container {
  font-size:26px;
  position: relative;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:40px;
  overflow:hidden;
}

#flip > div > div {
  color:#7181fc;
  padding:2px 0px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

#see-more{
  padding-top: 20%;
  color: rgb(216, 216, 216);
  font-size: 0.5em;
}

.stage {
  display: flex;
  width: 100%;
}

.box {
  align-self: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-image: url("../icons/scroll-down.png");
  height: 30px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 60px;
}

.bounce-4 {
  animation-name: bounce-4;
  animation-timing-function: ease;
}

@keyframes bounce-4 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(35px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}


.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 12px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(241, 241, 241);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 0.8em;
}


#button_submit{
  display: none;
  visibility: hidden;
}

  
.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
  
.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
  
.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.text {
  position: relative;
  width: 500px;
  left: 50%;
  margin-left: -298px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  opacity: 0;
  font-size: 110%;
  color: #27bce6;
}
  
.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 0px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind { transform: rotateX(-90deg); }

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.40s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#footer {
  position: relative;
  padding: 1% 0% 1%;
  width: 100%;
  background-color: #202020;
  color: rgb(241, 241, 241);
  text-align: center;
}


/* ========================================================Take Test================================================== */

label{
  color: rgb(241, 241, 241);
}

/* ========================================================Responsive================================================== */

/* Phones -- From screens larger than 320px the behaviour is not controlled */
@media screen and (min-width:0px) and (max-width:459px) {
  h1{
    font-size:1em;
  }
  
  #header{
    padding: 30% 0% 15%;
    background-size: 300%;
  }

  #navbar a {
    padding: 12px 0px 9px;
    font-size: 10px;
    width: 60px;
  }

  #navbar a-Active {
    padding: 9px 1px 9px;
    font-size: 10px;
    width: 60px;
  }
}

/* Larger phones */
@media screen and (min-width:460px) and (max-width:599px) {
  h1{
    font-size:1em;
  }
  
  #header{
    padding: 25% 0% 15%;
    background-size: 200%;
  }

  #navbar a {
    padding: 12px 5px 11px;
    font-size: 13px;
    width: 80px;
  }

  #navbar a-Active {
    padding: 9px 2px 10px;
    font-size: 13px;
    width: 80px;
  }
}

/* Mini-tablet */
@media screen and (min-width:600px) and (max-width:700px) {
  h1{
    font-size:1.2em;
  }
  
  #header{
    padding: 22% 0% 15%;
    background-size: 180%;
  }

  #navbar a {
    padding: 11px 6px 11px;
    width: 100px;
  }

  #navbar a-Active{
    padding: 9px 6px 9px;
    width: 100px;
  }
}

/* Tablets */
@media screen and (min-width:701px) and (max-width:799px) {
  #header{
    padding: 22% 0% 10%;
    background-size: 165%;
  }
}

/* Tablets */
@media screen and (min-width:800px) and (max-width:999px) {
  #header{
    padding: 18% 0% 6%;
    background-size: 150%;
  }
}

/* PCs */
@media screen and (min-width:1000px) and (max-width:1219px) {
  #header{
    padding: 15% 0% 6%;
    background-size: 150%;
  }
}

/* PCs */
@media screen and (min-width:1220px) and (max-width:1399px){
  #header{
    background-size: 130%;
  }
}

/* Monitors */
@media screen and (min-width:1400px) {
  #header{
    background-size: 110%;
  }
}