<span>
    <div class="text">
        <br>
        <p>
          Made by:
          <span class="word">Aiman Al Masoud</span>
          <span class="word">Francesco Amato</span>
          <span class="word">Andrei Blindu</span>
          <span class="word">Mattia Bottini</span>
          <span class="word">Davide Lotito</span>
          <span class="word">Francesco Marinelli</span>
          <span class="word">Daniele Murer</span>
          <span class="word">Riccardo Petri</span>
          <span class="word">Fabio Tagliani</span>
        </p>
    </div>
    Università degli Studi di Pavia
    <br>
    Digital Content Retrieval Laboratory &copy; 2022 
</span>

<!-- Animation for authors names -->
<script src="{{url_for('static', filename='scripts/contributors_animation.js')}}"></script>