<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">
    
    <title>SIQA - Images Display</title>
</head>
<body>

    <nav id="navbar" class="sticky">
        {% include 'navbar.html' %}
    </nav>  

    <h1 class="blue">Live image quality assessment session - Images</h1>
    
    <h2>Images used in the live session test</h2>
    <div id="images_div" style="padding: 0%;">
        {% for pic in pictures %}
            <div>
                <h4 id="title_{{loop.index}}">Image name: "{{readable_names[loop.index - 1]}}"</h4>
            </div>
            <div>
                <img id="{{loop.index}}" src="{{pic_path}}{{pic}}.jpg" data-pic="{{pic}}" alt="" class="img_responsive" />
            </div>
        {% endfor %}
    </div>
    <br><br><br><br>

    <footer id="footer">
        {% include 'footer.html' %}
    </footer>

</body>
</html>