<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Subjective image quality assessment: see the project description, download some experiments results and their images, partecipate to live image quality assessment sessions...">
    <meta name="keywords" content="SIQA, Subjective image quality assessment, Live image quality assessment sessions">
    <!-- Add indexing with different search engines-->

    <link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">

    <title>SIQA - Homepage</title>
</head>

<body>
    
    <nav id="navbar" class="sticky">
        {% include 'navbar.html' %}
    </nav>  

    <header id="header">
        <h1><span class="blue">S</span>ubjective <span class="blue">I</span>mage <span class="blue">Q</span>uality <span class="blue">A</span>ssessment</h1>
        <div id=container>
            <div id=flip>
                <div><div>Presentation results</div></div>
                <div><div>Image repository</div></div>
                <div><div>Live session</div></div>
            </div>
        </div>
        <br>
        <div id="see-more">
            SEE MORE
            <div class="stage">
                <div class="box bounce-4"></div>
            </div>
        </div>
    </header>
    
    <article id="content">
        <h2>Detailed description</h2>
        
        <p>Description.</p>
        
    </article>
    <hr>

    <article id="download">
        <h2>Download</h2>
        <p>
            In order to provide you usefull data you can download both the image repository and some of our presentations.
            <br><br>
            <a href="../repository/images" download><button class="button" role="button">Download image repository</button></a>
            <br><br>
            <a href="../repository/presentations" download><button class="button" role="button">Download presentations</button></a>
        </p>
    </article>
    <hr>

    <article id="test">
        <h2>Test</h2>
        <a href="/take_test"><button class="button" role="button">Take the test</button></a>
        <br><br>
    </article> 

    <footer id="footer">
        {% include 'footer.html' %}
    </footer>

</body>

</html>