<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Subjective image quality assessment: see the project description, download some experiments results and their images, partecipate to live image quality assessment sessions...">
    <meta name="keywords" content="SIQA, Subjective image quality assessment, Live image quality assessment sessions">
    <!-- Add indexing with different search engines-->

    <link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">

    <title>SIQA - Homepage</title>
</head>

<body>
    
    <nav id="navbar" class="sticky">
        {% include 'navbar.html' %}
    </nav>  

    <header id="header">
        <h1><span class="blue">S</span>ubjective <span class="blue">I</span>mage <span class="blue">Q</span>uality <span class="blue">A</span>ssessment</h1>
        <div id=container>
            <div id=flip>
                <div><div>Presentation results</div></div>
                <div><div>Image repository</div></div>
                <div><div>Live session</div></div>
            </div>
        </div>
        <br>
        <div id="see-more">
            SEE MORE
            <div class="stage">
                <div class="box bounce-4"></div>
            </div>
        </div>
    </header>
    
    <article id="content">
        <h2 class="blue">Detailed description</h2>
        
        <p>
            This project is related to subjective image quality assessment, applied on gray-level images,
            made in collaboration with Computational Sostainability <br> Unit (CSU) of University of Pavia.
            There are different kinds of images, that are falling into three different categories: <br>
                - <strong>Original:</strong> the images with no degradation; <br>
                - <strong>Impaired 1:</strong> the images with a small degradation; <br>
                - <strong>Impaired 2:</strong> the images with a heavy, and more visible, degradation; <br>
            All the used images are copyright free, so you can use them to perform other experiments and modify them. 
        </p>
        <br><br>
    </article>
    <hr>

    <article id="download">
        <h2 class="blue">Download</h2>
        <p>
            In this section you can find both the image repository that we have generated and
            some presentations that are showing some experiments results. <br>
            The image repository is organized in such a way that each subfolder is related to a different
            experiment, and in each one of them you can find three <br> 
            other folders that are related to the image categories we already discussed. <br>
            <br>
            <a href="../repository/images" download><button class="button" role="button">Download image repository</button></a>
            <br><br>
            <a href="../repository/presentations" download><button class="button" role="button">Download presentations</button></a>
        </p>
        <br><br>
    </article>
    <hr>

    <article id="test">
        <h2 class="blue">Test</h2>
        <p>
            Here you can find a link to a page that consists of a further experiment on subjective image
            quality assessment. <br>
            In this specific case the contribution is made by you (and other users that previously partecipated to it).<br>
            At the end you can also see insights that are related to all the evaluations. 
            <br><br>
            <a href="/take_test"><button class="button" role="button">Take the test</button></a>
            <br><br>
        </p>
    </article> 

    <footer id="footer">
        {% include 'footer.html' %}
    </footer>

</body>

</html>
