<head>
    <link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<a-Active onclick="location='/'"><img class="logo-img" src="../static/icons/favicon.ico"></i><span> SIQA</span></a></a-Active>
<a href="/#test"><i class="fa fa-line-chart"></i> Test</a>
<a href="/#download"><i class="fa fa-download"></i> Download</a>
<a href="/#content"><i class="fa fa-info-circle"></i> Content</a>
<a href="http://csu.unipv.it/" target="_blank"><i class="fa fa-handshake-o"></i> Csu</a> 