<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take the Test</title>
    <link href="{{url_for('static', filename='stylesheets/take_test.css')}}" rel="stylesheet" type="text/css">
    <script src="/static/scripts/take_test.js"></script>

</head>


<body onload="onStart()">

    <form  id="rating_form" name="rating_form" action="/done_take_test" method="POST">



        <center>
            <div id="email_section" hidden>
                <h2 >Please provide a valid email address:</h2>
                <input  id="email_input" type="email" placeholder=""></input>
            </div>
        </center>





        <!--create as many hidden pictures as the paths passed to this template-->
        <div id="images_div">
            {% for pic in pictures%}

            <!-- TODO: fix center. it's *very very very bad* and deprecated, but it works.-->
            <center>
                <h2 hidden id="title_{{loop.index}}">Image number: {{loop.index}}</h2>
                <br>
                <img hidden id="{{loop.index}}"   src={{pic}} alt="" height="400" />
            </center>

            {% endfor %}
        </div>


        <!--create the input part of this form, 5 scores from 1 to 5-->
        <h3>Give this image a rating from 1 to 5:</h3>



        <center>
            {% for i in range(1, 6) %}
            <label for="{{i}}">{{i}}</label>
            <input type="radio" id={{i}} name="rating_score" onchange="onRatingChanged()">
            {% endfor %}
        </center>
        <br>

        <center>
            <label id="chosen_rating" for="rating_score"></label>
        </center>
        <br>


        <center>
            <!--this button displays the next image-->
            <button class="my_button" type="button" id="button_next" onclick="onNextImageRequested()">Next</button>
            <!--this button sends the form to the server.-->
            <button class="my_button" type="submit" id="button_submit" onclick="">Done</button>
        </center>


        <!--store hidden key-value paris for: (image, rating).-->
        {% for pic in pictures%}
        <input type="hidden" id={{pic}} name={{pic}} value=""></input>
        {% endfor%}


    </form>



</body>

</html>